<footer class="footer mt-auto px-3 py-4 bg-secondary text-white">
  <div class="row justify-content-between align-items-center">
    <%= link_to t("name"), root_path, class: "col-12 h4 m-0 text-white" %>
    <div class="col-12 col-lg-4 col-xl-6">
      <span>Copyright © 2021 Oever González — </span>
      <span><%= t("some_rights") %>.</span>
    </div>
    <div class="col-12 col-lg-8 col-xl-6 d-flex justify-content-end align-items-center">
      <span><%= t("connect_me") %>:</span>
      <div class="footer-social d-flex justify-content-around align-items-center">
        <%= social_link("https://twitter.com/notengobattery/", "twitter") %>
        <%= social_link("https://www.linkedin.com/in/notengobattery/", "linkedin-in") %>
        <%= social_link("https://github.com/NoTengoBattery/", "github") %>
      </div>
    </div>
  </div>
</footer>
