<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to t("name"), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvContent" aria-controls="nvContent" aria-expanded="false" aria-label="<%= t "nav.toggle" %>">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nvContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to t("nav.home"), root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t("article.write"), root_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= sign_up_or_profile class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= sign_in_or_out class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
