<div id="<%= "div-#{id}" %>">
  <figure id="<%= "figure-#{id}" %>" class="figure">
    <img id="<%= "img-#{id}" %>" src="/image.jpg" class="figure-img img-fluid rounded" alt="<%= article.Title %>">
    <figcaption id="<%= "figcaption-#{id}" %>" class="figure-caption">
      <%= link_to article.Title, article_path(article) %>
    </figcaption>
  </figure>
</div>
