<main class="row">
  <% articles.each do |article| %>
    <article class="col-3 p-0 d-flex flex-column">
      <div class="r-1-1<%= toggle_order %>">
        <%= image_tag(img_medium(article), class: "abs-0 w-100 h-100", alt: article.Title) %>
      </div>
      <div class="r-1-1">
        <div class="abs-0 w-100 h-100 d-flex flex-column p-3 bg-light">
          <u class="h5 text-underline text-primary"><%= category.Name %></u>
          <%= link_to article.Title, article_path(article), class: "h5 text-secondary" %>
          <p class="multiline-text text-truncate"><%= article.Text %></p>
          <span>
            <%= t("article.by") %>
            <%= link_to article.user.Name, article.user %>
          </span>
          <div class="d-flex justify-content-between">
            <span>
              <span class="iconify" data-icon="ri:thumb-up-fill" data-inline="false"></span>
              <%= article.votes.size %>
            </span>
            <% if can_vote?(article) %>
              <span>
                <%= vote_button(article) %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  <% end %>
</main>
